<div class="center jumbotron">
    <h1>Welcome to the Event Planning App</h1>

    <h2>
      This is the home page for the saturday events
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%#= link_to image_tag("saturday.png", alt: "saturday") %>